/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(Me&Tea\ copy.JPG);
  background-size: cover;
  background-position: center;
  color: #000000;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 15px;
  height: auto;
}

.page-title {
  text-align: center;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

h1 {
  margin: 0;
}

#contact {
  margin-top: 10em;
}

.special-paragraph {
  margin-left: 5em;
  margin-right: 50em;
  margin-top: 2em;
  text-align: justify;
}

#ProHS {
  position: absolute;
  top: 55em;
  left: 50em;
}

.cool-paragraph {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  text-align: justify;
}

p {
  margin: 0;

}

section {
  padding: 80px 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
