.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
  }

  .options a {
    text-decoration: none;
    color: #333;
  }

  .options img {
    width: 100%;
    height: auto;
  }

  .options h2 {
    margin-top: 10px;
  }
