#portfolio {
    background-color: #f1f1f1;
    padding: 40px 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .sub-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .option {
    width: 200px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  .option img {
    width: 100%;
    height: auto;
  }

  .option h2 {
    margin-top: 10px;
  }
