* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #080808;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(rustyperalta.github.io/background.jpg);
    background-size: cover;
    background-position: center;
}
