* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', verdana;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
    color: #333;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #4f1507;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.main {
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-container {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* To position the articles side by side */
}

article {
    flex-basis: 48%; /* Adjust this value to control the width of blog posts */
    margin-bottom: 20px;
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article p {
    font-size: 16px;
    color: #666;
    text-align: left;
    margin-bottom: 10px;
}

article a {
    color: #4f1507;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.article-description {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.see-more {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.see-more a {
    color: #4f1507;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

/* Media Query for Phone Optimization */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #4f1507;
        position: fixed;
        top: 0;
        right: -250px;
        width: 200px;
        height: 100vh;
        padding-top: 80px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    .blog-container {
        flex-basis: 100%;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        justify-content: center; /* Center blog posts horizontally */
    }

    article {
        width: 100%; /* Make the blog post take the full width of its container */
    }

    article a {
        display: block;
        margin-top: 10px;
    }
}
