body {
    font-family: 'Verdana', verdana;
    background: #ffffff;
    color: #080808;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #4f1507;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

p{
    text-align: center;
    margin: 30px 0 50px;
}
p span{
    font-weight: 700;
}

.gallery {
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
}
/* ---------------phone screen-------------------- */
nav .fas{
    display: none;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    #header{
        margin-top: 100%;
        font-size: 16px;
    }

    p {
        margin: 20px 0 30px;
        font-size: 14px;
    }

    .gallery {
        margin: 5px;
        justify-content: center;
    }

    .gallery img {
        width: 90%; /* Set the width to a percentage to make it responsive */
        height: auto; /* Allow the height to adjust proportionally */
        padding: 10px; /* Increase the padding for better spacing */
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:#4f1507;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh   ;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
