body {
    font-family: 'Verdana', verdana;
}

h1 {
    text-align: center;
    color: black;
    margin: 30px 0 50px;
}
p{
    text-align: center;
    margin: 30px 0 50px;
}

.gallery {
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
}
/* ---------------phone----------------- */

@media only screen and (min-width: 600px) {
    .gallery {
      margin: 10px 50px;
      justify-content: space-between;
    }

    .gallery img {
      width: 200px;
      height: 200px;
    }
  }
  nav .fas{
    display: none;
}
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
