body {
    font-family: 'Verdana', verdana;
    background: #ffffff;
    color: #080808;
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #4f1507;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

.video-container {
    margin: 1rem;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}
p{
    text-align: center;
    margin: 30px 0 50px;
}
p span{
    font-weight: 700;
}
nav .fas{
    display: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .video-container {
    flex-basis: 48%; /* Adjust this value to control the width of video containers */
    margin-bottom: 20px;
    position: relative;
  }

  iframe {
    width: 100%;
    height: 315px;
  }

  .video-description {
    position: absolute;
    top: 0;
    left: 55%; /* Adjust this value to move the description box further to the right */
    transform: translateX(50%); /* Center the description box horizontally */
    background-color: #fff;
    padding: 10px;
    width: 90%; /* Adjust this value to control the width of descriptions */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .video-description h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .video-description p {
    font-size: 14px;
    color: #666;
  }

/* -------------------------phone optimization--------------------- */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    #header{
        margin-top: 30px;
        font-size: 16px;
    }

    p {
        margin: 20px 0 30px;
        font-size: 14px;
    }

    .gallery {
        margin: 5px;
        justify-content: center;
    }

    .gallery img {
        width: 100%; /* Set the width to a percentage to make it responsive */
        height: auto; /* Allow the height to adjust proportionally */
        padding: 10px; /* Increase the padding for better spacing */
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:#4f1507;
        position: fixed;
        top: 0;
        right: -250px;
        width: 200px;
        height: 100vh   ;
        padding-top: 80px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
